<section id="about-myself" class="about-myself">
  <div class="content">
    <h2>Hi !</h2>
    <p>I'm
      <span>name</span>.. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, dicta. Veniam pariatur minima voluptas
      culpa rem. Suscipit veritatis vel non neque alias, molestiae id incidunt natus ipsum vero, quod aut qui sequi quis
      laudantium
      <span>architecto exercitationem</span> recusandae eius. Incidunt velit quasi debitis, commodi vero optio nesciunt perspiciatis
      quidem quos accusantium! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius harum minima, ipsum animi.
      Provident quae hic, perspiciatis accusamus quaerat iure
      <span>tenetur</span> explicabo dicta quos aspernatur quis, delectus itaque vel.</p>
  </div>
</section>
