<section id="about" class="about">
  <h3 class="title">About</h3>
  <p>I'm passionate about software development and everything related to it.</p>
  <hr>
  <ul class="grid">
    <li>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices vitae
        pulvinar velit.</p>
    </li>
    <li>
      <div class="user-data">
        <div class="user-data-content">
          <ul>

            <li>
              <div class="user-data-icon">
                <i class="fa fa-user-circle"></i>
              </div>
              <div class="user-data-text">
                Adolfo Peixinho
              </div>
            </li>

            <li>
              <div class="user-data-icon">
                  <img src="<%= require("../images/portugal-flag.png") %>" alt="Portugal Flag">
                <!-- <img src="dist/images/brazil-icon.png" alt="Michael Silva Brazil Flag"> -->
              </div>
              <div class="user-data-text">
                Portugal
              </div>
            </li>

            <li>
              <div class="user-data-icon">
                <i class="fa fa-calendar"></i>
              </div>
              <div id="my_age" class="user-data-text">

              </div>
            </li>

            <li>
              <div class="user-data-icon">
                  <img src="<%= require("../images/icon-darth.png") %>">
              </div>
              <div class="user-data-text">
                10+ years of experience
              </div>
            </li>

            <!-- <li>
              <div class="user-data-icon">
                <I class="fa fa-soccer-ball-o"></i>
              </div>
              <div class="user-data-text">
                I'm Portuguese and soccer is my second religion
                I enjoy playing video-games and running in the park.
              </div>
            </li> -->

            <li>
              <div class="user-data-icon">
                <I class="fa fa-suitcase"></i>
              </div>
              <div class="user-data-text">
              Currently I'm employed by <a href="https://www.kpn.com" target="_blank">KPN</a>
              </div>
            </li>
          </ul>

        </div>

        <div class="user-data-content no-border">
          <ul class="continuate">
            <li>
              <I class="fa fa-circle"></i>
            </li>
            <li>
              <I class="fa fa-circle"></i>
            </li>
            <li>
              <I class="fa fa-circle"></i>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul>

  <!--
      <i class="fa fa-cubes"></i>
      <h4>Web Development</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices vitae
        pulvinar velit.</p> -->
  </li>
  </ul>
</section>
