<section id="contact" class="contact">
  <h3 class="title">Contact me</h3>
  <!-- <p>I'll try and respond as soon as possible</p> -->
  <hr>

  <div>
    <a id="emailContact" target="_top" class="btn"
      href="mailto:ayyyduuouuulfkkoyyy.uuupkkeuuixiyyyykknhoyyy@uuuyygmkkailyyykk.comyyyyyyyy">
      <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
      <span>Send email<span>
    </a>
    <a href="apeixinho-CV.pdf" target="_blank" class="btn">
      <i class="fa fa-download fa-2x" aria-hidden="true"></i>
      <span>Download my CV<span>
    </a>
  </div>



  <!-- <a href="mailto:ayyydolfoyyy.peixiyyyynhoyyy@gmailyyy.comyyyyyyyy" target="_top" onmouseover="this.href=this.href.replace(/y/g,'');"
        class="btn">
        <div class="animated bounceIn slower">
          <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i> <br>
          <span>Send email<span>
        </div>
      </a> -->
  <!-- <a href="apeixinho-CV.pdf" target="_blank" class="btn">
        <div class="animated bounceIn slower">
          <i class="fa fa-download fa-2x" aria-hidden="true"></i> <br>
          <span> Download my CV<span> -->


</section>
