<section id="contact" class="contact">
  <h3 class="title">Contact me</h3>
  <!-- <p>I'll try and respond as soon as possible</p> -->
  <!-- <hr> -->

  <a class="btn" href="mailto:ayyydolfoyyy.peixiyyyynhoyyy@gmailyyy.comyyyyyyyy" target="_top"
     onmouseover="this.href=this.href.replace(/y/g,'');">Send email</a>

  <!-- <form action="window.open('mailto:test@example.com?subject=from_my_homepage&body=body');">
    <textarea rows="4" cols="50">
          At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
    </textarea>
    <input type="email" placeholder="Email">
    <a href="#" class="btn">Send eamil</a>
  </form> -->
</section>
