<section id="contact" class="contact">
  <h3 class="title">Contact me</h3>
  <!-- <p>I'll try and respond as soon as possible</p> -->
  <!-- <hr> -->

  <a class="btn" href="mailto:ayyydolfoyyy.peixiyyyynhoyyy@gmailyyy.comyyyyyyyy" target="_top"
     onmouseover="this.href=this.href.replace(/y/g,'');">Send email</a>

</section>
