<footer>
  <ul>
    <li><a href="https://www.linkedin.com/in/adolfopeixinho" target="_blank" title="linkedin">
        <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    <li><a href="https://github.com/apeixinho" target="_blank" title="github">
        <i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
    <li><a href="https://gitlab.com/apeixinho" target="_blank" title="gitlab">
        <i class="fa fa-gitlab" aria-hidden="true"></i></a></li>
  </ul>

  <p>
    Source code is available
    <a href="https://gitlab.com/apeixinho/homepage-starter-kit/tree/myhomepage-ap" target="_blank" title="this page on gitlab">
      here</a>.
  </p>
  <p><time id="deployDate"></time></p>
  <!-- <i class="fa fa-creative-commons" aria-hidden="true"></i> -->
</footer>
