<footer>
  <ul>
    <!-- <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
    <li><a href="#"><i class="fa fa-snapchat-square"></i></a></li>
    <li><a href="#"><i class="fa fa-pinterest-square"></i></a></li> -->
    <li><a href="#"><i class="fa fa-bitbucket-square"></i></a></li>
    <li><a href="#"><i class="fa fa-gitlab"></i></a></li>
    <li><a href="#"><i class="fa fa-github-square"></i></a></li>
  </ul>
  <!-- <p>Made by <a href="http://tutorialzine.com/" target="_blank">tutorialzine</a>.
    images courtesy to <a href="http://unsplash.com/" target="_blank">unsplash</a>.</p> -->
  <p><time id="time"></time> <i class="fa fa-creative-commons" aria-hidden="true"></i></p>
</footer>
