<footer>
  <ul>
    <li><a href="https://www.linkedin.com/in/adolfopeixinho" target="_blank" title="linkedin">
        <i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
    <li><a href="https://github.com/apeixinho" target="_blank" title="github">
        <i class="fa fa-github-alt" aria-hidden="true"></i></a></li>
    <li><a href="https://gitlab.com/apeixinho" target="_blank" title="gitlab">
        <i class="fa fa-gitlab" aria-hidden="true"></i></a></li>
  </ul>
  <!-- <p>Inspired by
    <a href="https://tutorialzine.com/2016/06/freebie-landing-page-template-with-flexbox" target="_blank" title="inspiration">
      tutorialzine</a>
    and altered with <i class="fa fa-heart" aria-hidden="true"></i> by me.
  </p> -->
  <p>
    Source code is available
    <a href="https://gitlab.com/apeixinho/homepage-starter-kit/tree/myhomepage-ap" tabindex="_blank" title="this page on gitlab">
      here</a>.
  </p>
  <!-- <p><time id="deployDate"></time></p> -->
  <!-- <i class="fa fa-creative-commons" aria-hidden="true"></i> -->
</footer>
