<header>
    <!-- <div id="logo-container">
      <a href="index.html">
      <img src="http://www.w3.org/html/logo/downloads/HTML5_Logo_512.png" />
      </a>
    </div> -->
    <nav>
      <ul>
        <li><a href="#hero" title="Home">Home</a></li>
        <li><a href="#about-myself" title="About">About</a></li>
        <li><a href="#experience" title="Experience">Experience</a></li>
        <li><a href="#skills" title="Skills">Skills</a></li>
        <li><a href="#resume" title="Resume">Resume</a></li>
      </ul>
    </nav>
  </header>
