<header class="main_header">
  <h2>
    <a href="#hero">Website Logo</a>
  </h2>
  <nav class="navbar">
    <ul>
      <li>
        <a href="#hero">Home</a>
      </li>
      <li>
        <a href="#our-work">Projects</a>
      </li>
      <li>
        <a href="#features">Features</a>
      </li>
      <li>
        <a href="#reviews">Reviews</a>
      </li>
      <li>
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
