<header class="main_header">
		<h2><a href="#">Website Logo</a></h2>
		<nav>
			<li><a href="#hero">Home</a></li>
			<li><a href="#our-work">Projects</a></li>
      <li><a href="#features">Features</a></li>
      <li><a href="#reviews">Features</a></li>
			<li><a href="#contact">Contact</a></li>
		</nav>
	</header>
