<header>
  <nav>
    <ul>
      <li>
        <a href="#about-myself">
          <i class="fa fa-user-circle" aria-hidden="true"></i>
          <span>About</span>
        </a>
      </li>
      <li>
        <a href="#experience">
          <i class="fa fa-tasks" aria-hidden="true"></i>
          <span>Experience</span>
        </a>
      </li>
      <li>
        <a href="#skills">
          <i class="fa fa-code" aria-hidden="true"></i>
          <span>Skills</span>
        </a>
      </li>
      <li>
        <a href="#resume">
          <i class="fa fa-cloud-download" aria-hidden="true"></i>
          <span>Resume</span>
        </a>
      </li>
      <li>
        <a href="#portfolio">
          <!-- <i class="fa fa-cloud-download"></i> -->
          <i class="fa fa-archive" aria-hidden="true"></i>
          <span>Portfolio</span>
        </a>
      </li>

      <li>
        <a href="#contact">
          <i class="fa fa-phone-square" aria-hidden="true"></i>
          <span>Contact</span>
        </a>
      </li>
    </ul>
  </nav>
</header>
