<header>
  <!-- <h2>
    <a href="#hero">Website Logo</a>
  </h2> -->

  <nav>
    <input type="checkbox" id="menu-nav" class="hidden" />
    <label for="menu-nav" class="nav-open">
      <i></i>
      <i></i>
      <i></i>
    </label>
    <div class="nav-container">
      <ul>
        <li>
          <a href="#hero">Home</a>
        </li>
        <li>
          <a href="#our-work">Projects</a>
        </li>
        <li>
          <a href="#features">Features</a>
        </li>
        <li>
          <a href="#reviews">Reviews</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
