<section class="hero">
  <div class="background-image" style="background-image: url(https://images.unsplash.com/photo-1455849318743-b2233052fcff?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=e535256f795a7f6a0955804a9655cbba);"></div>
  <!--     <button>drop button</button> -->
  <h1>Responsive Flexbox Template</h1>
  <h3>A freebie by Tutorialzine.</h3>
  <a href="http://tutorialzine.com/2016/06/freebie-landing-page-template-with-flexbox/" class="btn">Download it Here</a>
</section>
