<section id="hero" class="hero">
  <div class="background-image"></div>
  <img src="<%= require("../images/fronha.png") %>" alt="My Face" title="My Face" class="round animated bounceIn slow">
  <h2>
    <span class="txt-rotate"
      data-period="766"
      data-rotate='[ "Hi, I&#39;m Adolfo Peixinho. Welcome to my homepage.",
      "I&#39;m passionate about software development and everything related to it." ]'></span>
  </h2>

  <div class="mouse">
    <span></span>
  </div>

</section>
