<section id="hero" class="hero">
  <div class="background-image"></div>
  <img src="<%= require("../images/fronha.png") %>" alt="My Face" title="My Face" class="round">
  <h2>This pen is
    <span class="txt-rotate" data-period="2000" data-rotate='[ "nerdy.", "simple.", "pure JS.", "pretty.", "fun!" ]'></span>
  </h2>

  <div class="mouse">
    <span></span>
  </div>

</section>
