
  <section id="our-work" class="our-work">
    <h3 class="title">Some of our work</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id felis et ipsum bibendum ultrices. Morbi vitae pulvinar velit. Sed aliquam dictum sapien, id sagittis augue malesuada eu.</p>
    <hr>

    <ul class="grid">
      <li class="small" style="background-image: url(https://images.unsplash.com/photo-1457195740896-7f345efef228?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=e84ffef9eba786d3791ca09319edb16b);"></li>
      <li class="large" style="background-image: url(https://images.unsplash.com/photo-1509836025229-f6f8226a41d9?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=a55031c5ca6b838da2e95d9065f359f4);"></li>
      <li class="large" style="background-image: url(https://images.unsplash.com/photo-1505676155372-1c40256fd7bd?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=eb14dc639609010a0960b918d3af8c4f);"></li>
      <li class="small" style="background-image: url(https://images.unsplash.com/photo-1491904768633-2b7e3e7fede5?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=9f5c7368499ffed40fcd697680ca728e);"></li>
      </div>
  </section>
