<section id="resume" class="resume">


    <a href="apeixinho-CV.pdf" target="_blank" class="btn">
      <div class="animated bounceIn slower">
        <i class="fa fa-download fa-2x" aria-hidden="true"></i> <br>
        <span> Download my CV<span>
      </div>
    </a>

  <!-- <div class="content">
    <a href="apeixinho-CV.pdf" target="_blank">
      <div class="btn-resume">
        <i class="fa fa-download fa-2x" aria-hidden="true"></i>
        <span>Download my resume
          <span>
      </div>
    </a>
  </div> -->
</section>
