/*-------------
 	Imports
-------------*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
/*-------------
 	Colors
-------------*/

$blue: #2196F3;
$white: #fff;
$beige: #f7f7f7;
$gray1: #333;
$gray2: #555;
$gray3: #414a4f;
/*-------------
 	General
-------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: normal 16px sans-serif;
  color: $gray2;
}

ul,
nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.85;
  &:hover,
  &:active {
    opacity: 1;
  }
  &.btn {
    color: $white;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: $blue;
    font-weight: 800;
    text-align: center;
  }
}

hr {
  width: 40%;
  height: 2px;
  background-color: $blue;
  border: 0;
  margin-bottom: 80px;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 125px 100px;
  h3.title {
    color: $gray3;
    text-transform: capitalize;
    font: bold 32px 'Open Sans', sans-serif;
    margin-bottom: 35px;
    text-align: center;
  }
  p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
  }
}

@media (max-width: 1000px) {
  section {
    padding: 100px 50px;
  }
}

@media (max-width: 600px) {
  section {
    padding: 80px 30px;
  }
}

ul.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sticky {
  top: 0 !important;
}

.hidden {
  display: none;
}

.active {
  transition: background-color .2s ease-in-out 0.1s;
  opacity: 1;
  background-color: $beige;
  color: $blue;
}

/*-------------
 	Header
-------------*/
header {
  background-color: $blue;
  color: $white; 
  // border-bottom: 1px solid $beige;
  position: fixed;
  top: -300px;
  left: 0;
  width: 100%;
  z-index: 10;
  align-items: center;
  height: auto;
  // h2 {
  //   font-family: 'Quicksand', sans-serif;
  //   padding: 15px 50px;
  // }
  nav {
    ul {
      list-style-type: none;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
    }
    ul li {
      transition: background-color .2s ease-in-out 0.1s;
      flex-grow: 1;
      text-align: center;
      font-weight: normal;
      &:hover {
        opacity: 1;
        background-color: $beige;
        color: $blue;
      }
    }
    ul li a {
      height: 100%;
      width: 100%;
      display: inline-block;
      padding: 21px 0;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
    h2 {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 560px) {
  header {
    left: 0;
    margin: 0;
    padding: 0;
    transition: all 0.3s;
    .nav-container {
      position: fixed;
      top: -400px;
      height: auto;
      width: 100%;
      background-color: $blue;
      opacity: 1;
      i {
        display: block;
      }
      span {
        display: block;
      }
    } 
    .nav-container ul li {
      display: block;
      float: none;
      width: 100%; 
      transition: background-color .2s ease-in-out 0.1s;
      &:hover {
        opacity: 1;
        background-color: $beige;
        color: $blue;
      }
    } 
    .nav-container ul li a {
      transform: translateY(-20px);
      transition: transform .2s ease-in-out 0.1s;
    }
    .nav-open {
      position: fixed;
      right: 10px;
      top: 10px;
      display: block;
      width: 48px;
      height: 48px;
      cursor: pointer;
      z-index: 30;
      border-radius: 24px;
      border: 2px solid $blue;
      background-color: $beige;
    }
    .nav-open i {
      display: block;
      width: 20px;
      height: 4px;
      background: $blue;
      border-radius: 4px;
      margin-left: 12px;
    }
    .nav-open i:nth-child(1) {
      margin-top: 14px;
    }
    .nav-open i:nth-child(2) {
      margin-top: 4px;
      opacity: 1;
    }
    .nav-open i:nth-child(3) {
      margin-top: 4px;
    }
  }
}

#menu-nav:checked+.nav-open {
  border: none;
  transform: rotate(45deg);
  transition: transform .2s ease;
}

#menu-nav:checked+.nav-open i {
  margin-left: 14px;
  transition: transform .2s ease-in-out .1s;
}

#menu-nav:checked+.nav-open i:nth-child(1) {
  transform: translateY(8px) rotate(180deg);
  transition: transform .2s ease;
}

#menu-nav:checked+.nav-open i:nth-child(2) {
  opacity: 0;
  transition: all .2s ease-in-out .1s;
}

#menu-nav:checked+.nav-open i:nth-child(3) {
  transform: translateY(-8px) rotate(90deg);
  transition: transform .2s ease;
}

#menu-nav:checked~.nav-container {
  opacity: 1;
  transition: all .2s ease-in-out .1s;
}

#menu-nav:checked~.nav-container ul li a {
  opacity: 1;
  transform: translateY(0);
  transition: transform .2s ease-in-out .1s;
}

/*----------------
 	Hero Section
----------------*/

.hero {
  position: relative;
  justify-content: center;
  min-height: 100vh;
  color: $white;
  text-align: center;
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: $blue;
    z-index: -1;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $gray3;
      opacity: 0.75;
    }
  }
  h1 {
    font: bold 60px 'Open Sans', sans-serif;
    margin-bottom: 15px;
  }
  h3 {
    font: normal 28px 'Open Sans', sans-serif;
    margin-bottom: 40px;
  }
  a.btn {
    padding: 20px 46px;
  }
}

@media (max-width: 800px) {
  .hero {
    min-height: 600px;
    h1 {
      font-size: 48px;
    }
    h3 {
      font-size: 24px;
    }
    a.btn {
      padding: 15px 40px;
    }
  }
}

/*--------------------
 	Our Work Section
---------------------*/

.оur-work {
  background-color: $white;
}

.our-work .grid li {
  padding: 20px;
  height: 350px;
  border-radius: 3px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-color: $gray1;
  &.small {
    flex-basis: 40%;
  }
  &.large {
    flex-basis: 60%;
  }
}

@media (max-width: 1000px) {
  .our-work .grid li {
    &.small,
    &.large {
      flex-basis: 100%;
    }
  }
}

/*----------------------
 	Features Section
----------------------*/

.features {
  background-color: $beige;
  .grid li {
    padding: 0 30px;
    flex-basis: 33%;
    text-align: center;
    i {
      font-size: 50px;
      color: $blue;
      margin-bottom: 25px;
    }
    h4 {
      color: $gray2;
      font-size: 20px;
      margin-bottom: 25px;
    }
    p {
      margin: 0;
    }
  }
}

@media (max-width: 1000px) {
  .features .grid li {
    flex-basis: 70%;
    margin-bottom: 65px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 600px) {
  .features .grid li {
    flex-basis: 100%;
  }
}

/*--------------------
 	Reviews Section
--------------------*/

.reviews {
  background-color: $white;
  .quote {
    text-align: center;
    width: 80%;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
  }
  .author {
    font-size: 18px;
    margin-bottom: 50px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 1000px) {
  .reviews {
    .quote {
      font-size: 20px;
    }
    .author {
      font-size: 16px;
    }
  }
}

/*---------------------
 	Contact Section
---------------------*/

.contact {
  background-color: $beige;
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    width: 80%;
    input {
      padding: 15px;
      flex: 1;
      margin-right: 30px;
      font-size: 18px;
      color: $gray2;
    }
    .btn {
      padding: 18px 42px;
    }
  }
}

@media (max-width: 800px) {
  .contact form input {
    flex-basis: 100%;
    margin: 0 0 20px 0;
  }
}

/*-------------
 	Footer
-------------*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $white;
  background-color: $gray3;
  padding: 60px 0;
  ul {
    display: flex;
    margin-bottom: 25px;
    font-size: 32px;
    li {
      margin: 0 8px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  p {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 10px;
    a {
      color: $white;
    }
  }
}

@media (max-width: 700px) {
  footer {
    padding: 80px 15px;
  }
}
